.about {
  height: 100%;
  width: 100%;
  display: flex;
}

.about h1{
    font-size: 42px;
}

.about .about-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .content {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.about .about-image {
  height: 100%;
  width: 50%;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
  }

  .about .about-card {
    height: 50%;
    width: 100%;
  }

  .about .content {
    height: 80%;
  }
}

@media (max-width: 480px) {
  .about .content {
    height: 90%;
  }
}
