* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --black-color: #000107;
  --white-color: #f2f2f2; 
  --space-blue: #0b3c918c; 
  --nebula-purple: #7b68ee; 
  --star-pink: #ff69b4; 
  --dark-green: #006400be; 
  --crimson: #dc143ccc; 
}


#root {
  background-color: var(--black-color);
}